<h3 style="padding-top: 50px;">View Admin Details</h3>
<div>
    <div>
        <label style="padding-top: 10px;"><b>Cin Admin   : </b></label> {{admin.CIN_A}}
    </div>
    <div>
        <label style="padding-top: 10px;"><b>Nom Admin    : </b></label> {{admin.nom_A}}
    </div>
    <div>
        <label style="padding-top: 10px;"><b>Prenom Admin   : </b></label> {{admin.prenom_A}}
    </div>
    <div>
        <label style="padding-top: 10px;"><b>Adresse Admin   : </b></label> {{admin.adresse_A}}
    </div>
    <div>
        <label style="padding-top: 10px;"><b>Date Naissance Admin    : </b></label> {{admin.dateNaiss_A}}
    </div>
    <div>
        <label style="padding-top: 10px;"><b>Telephone Admin    : </b></label> {{admin.tel_A}}
    </div>
    <div>
        <label style="padding-top: 10px;"><b>Matricule Admin    : </b></label> {{admin.matricule}}
    </div>
</div>