<h2 style="margin-top:60px;">Citoyens List</h2>
<table class="table table-striped table-dark" style="margin-top:20px;">
    <thead>
        <tr>
           
            <th>Id_Citoyen</th>
            <th>CIN_Citoyen</th>
            <th>Nom_Citoyen</th>
            <th>Prenom_Citoyen</th>
            <th>DateNaiss_Citoyen</th>
            <th>Tel_Citoyen</th>
            <th>Etat_Citoyen</th>
            <th>Actions</th>
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let citoyen of citoyens">
            
            <td>{{citoyen.idCitoyen}}</td>
            <td>{{citoyen.CIN_C}}</td>
            <td>{{citoyen.nom_C}}</td>
            <td>{{citoyen.prenom_C}}</td>
            <td>{{citoyen.dateNaiss_C}}</td>
            <td>{{citoyen.tel_C}}</td>
            <td>{{citoyen.etat}}</td>
            <td>
                <button (click)="updateCitoyen(citoyen.idCitoyen)" class="btn btn-info">Update</button>
                <button (click)="deleteCitoyen(citoyen.idCitoyen)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button (click)="citoyenDetails(citoyen.idCitoyen)" class="btn btn-secondary" style="margin-left: 10px;">View</button>

            </td>

        </tr>
    </tbody>
</table>