<body id="section">
<nav class="navbar navbar-expand-sm  navbar-dark" id="navbar">
    <ul class="navbar-nav" >
       <li  id="left">
        <select  onchange="window.open(this.value,'_self');"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Select ...</option>
            <option value="admins" class="container" >Admins List </option>
            <option value="centres" class="container">Centres List</option>
            <option value="citoyens" class="container"> Citoyens List</option>
            <option value="personnels" class="container">Personnels List</option>
            <option value="rdvs" class="container">Rendez-vous List</option>
        </select>
       </li>
       <li>
        <h1 id="title" class="text-center">{{title}}</h1>
      
       </li>
       <li  id="right">
        <select  onchange="window.open(this.value,'_self');"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Add ...</option>
            <option value="create-admin" class="container" >Add Admin </option>
            <option value="create-centre" class="container">Add Centre</option>
            <option value="create-citoyen" class="container"> Add Citoyen</option>
            <option value="create-personnel" class="container">Add Personnel</option>
            <option value="create-rdv" class="container">Add Rendez-Vous</option>
        </select>
       </li>

    </ul>
</nav>
<div  class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer"> 
    <div class="container">
        <span> All Rights Reserved 2021 @CoVac19</span>
    </div>
</footer>
</body>

