/* You can add global styles to this file, and also import other style files */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: green;
    text-align: center;

    color: white;
    
}
#section{
    background-color: rgb(216, 211, 211);
   
}

#navbar{
    background-color: green;
}

#right {
   padding-left: 450px;
   padding-right: 3px;
   padding-top: 10px;
}

#left{
    padding-left: 10px;
}

#title{
    padding-left: 310px;
    color: white;


}