
<h3 style="padding-top: 50px;">View Centre Details</h3>
<div>
    <div>
        <label  style="padding-top: 10px;"><b>Nom Centre: </b></label> {{centre.nomCentre}}
    </div>
    <div>
        <label  style="padding-top: 10px;"><b>Adresse Centre: </b></label> {{centre.adresseCentre}}
    </div>
    <div>
        <label  style="padding-top: 10px;"><b>Nombre Personnel Centre: </b></label> {{centre.nbPersonnel}}
    </div>
    <div>
        <label  style="padding-top: 10px;"><b>Stock Vaccin Centre: </b></label> {{centre.stockVacc}}
    </div>
  
</div>