<h3 style="padding-top: 50px;">View Citoyen Details</h3>
<div>
    <div>
        <label  style="padding-top: 10px;"><b>Cin Citoyen: </b></label> {{citoyen.CIN_C}}
    </div>
    <div>
        <label style="padding-top: 10px;"><b>Nom Citoyen: </b></label> {{citoyen.nom_C}}
    </div>
    <div>
        <label  style="padding-top: 10px;"><b>Prenom Citoyen: </b></label> {{citoyen.prenom_C}}
    </div>
    <div>
        <label  style="padding-top: 10px;"><b>Date Naissance Citoyen: </b></label> {{citoyen.dateNaiss_C}}
    </div>
    <div>
        <label  style="padding-top: 10px;"><b>Telephone Citoyen: </b></label> {{citoyen.tel_C}}
    </div>
    <div>
        <label  style="padding-top: 10px;"><b>Etat Citoyen: </b></label> {{citoyen.etat}}
    </div>
   
</div>