<div class="col-md-6 offset-md-3" >
    <h3 style="padding-top: 15px;">Create Citoyen</h3>
    <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label class="col-sm-2 col-form-label" style="padding-top: 5px;" >Id_Citoyen</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="idCitoyen" [(ngModel)]= "citoyen.idCitoyen" name="idCitoyen" ></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label" >Cin Citoyen</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="CIN_C" [(ngModel)]= "citoyen.CIN_C" name="CIN_C" ></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label"  >Nom Cityen</label>
            <div class="col-sm-10"><input  type="text" class="form-control" id="nom_C" [(ngModel)]= "citoyen.nom_C" name="nom_C" ></div> 
        </div>
        <div class="form-group">
            <label  class=" col-form-label">Prenom Citoyen</label>
            <div  class="col-sm-10"><input type="text" class="form-control" id="prenom_C" [(ngModel)]= "citoyen.prenom_C" name="prenom_C" ></div>
        </div>
        <div class="form-group">
            <label  class=" col-form-label" >Date Naissance Citoyen</label>
            <div  class="col-sm-10"><input type="text" class="form-control" id="dateNaiss_C" [(ngModel)]= "citoyen.dateNaiss_C" name="dateNaiss_C" ></div>
        </div>
        <div class="form-group">
            <label  class=" col-form-label" >Telephone Citoyen</label>
            <div  class="col-sm-10"><input type="text" class="form-control" id="tel_C" [(ngModel)]= "citoyen.tel_C" name="tel_C" ></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label" >Etat Citoyen</label>
            <div  class="col-sm-10"><input type="text" class="form-control" id="etat" [(ngModel)]= "citoyen.etat" name="etat" ></div>
        </div>
        <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cgu" required>
              <label class="form-check-label" for="cgu">J'accepte les conditions générales d'utilisation </label>
              <div class="invalid-feedback">Vous devez accepter les CGU pour continuer</div>
            </div>
        </div>
        <button class="btn btn-success" type="submit"  >Submit</button>

        </form>
        
    </div>
